<html>
  <head>
    <title><%= @title %></title>
    <style>
      .code_sample_title {
        border-top: 1px solid grey;
        width: 625px;
        font: bold 12pt Trebuchet MS;
        text-align:left;
        margin: 5px;
        padding-top: 5px;
      }
    </style>
  </head>

  <body>

    <div align="center">

      <%= @header_html  %>

      <div class="code_sample_title">
        objects.yml:
      </div>
      <a href="rdoc/index.html"><img border="0" src="objects_yml.png"></a>

      <div class="code_sample_title">
        diy_example.rb:
      </div>
      <a href="rdoc/index.html"><img border="0" src="diy_example.png"></a>
    </div>



  </body>
</html>
