<html>
  <head>
    <title><%= @title %></title>
  </head>

  <body>

    <div align="center">

      <%= @header_html  %>

      <a href="rdoc/index.html"><img border="0" src="objects_yml.png"></a>

      <a href="rdoc/index.html"><img border="0" src="diy_example.png"></a>
    </div>



  </body>
</html>
